* {
  box-sizing: border-box;
}

a {
  color:#8FCCC5;
}

a:hover {
  filter:invert(70%);
}

main {
  overflow-y: scroll;
  height: 100vh;

  padding: 90px;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 180px 1fr;
  color: #F7F2DE;

  max-height: 100vh;
  overflow: hidden;
  background-image: url(back.png);
  background-repeat: no-repeat;

}

p {
  margin: 40;
  font-size: 16px;
  color: #434343;
  padding: 40px;
}

nav {
  margin-top: 6vw;
  margin-bottom: 2vw;
  margin-left: 3vw;
  display: flow-root;
  flex-direction: row;

  justify-content: space-evenly;
  align-items:flex-end;
}

#ben {
  margin: 5vw;
}

.resim {
  width: 80%;
  border-radius: 20px;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.collection-grid {
  margin-top: 5vw;
  margin-bottom: 1vw;

  display: grid;

  grid-template-columns: repeat(1, 1fr);
  gap: 10px;

  align-items: center;
}

@media (min-width: 1024px){
  .collection-grid{
    grid-template-columns: repeat(2,1fr);
    gap:10px;
  }

  p {

    font-size: 18px;

  }

  nav {
    margin-top: none;

  }

}


@media (orientation: portrait) {
  body {

    grid-template-rows: 30px 1fr;
    grid-template-columns: none;

  }
  nav {
    align-items: baseline;
    justify-content: space-evenly; /* esit bosluk */

  }

  .resim {
    margin-left: 12px;
  }

}
 /* column'dan row'a cevirdik. */
 /* row = sira demek */